body {
     margin: 0;
     padding: 0;
     width: 1200px;
}
.wrap {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     height: 1000px;
     /* box-sizing: border-box; */
}
.wrap2 {
     display: flex;
}
.header {
     height: 100px;
     background: orange;
     border-radius: 20px;
}
.hero {
     height: 400px;
     width: 600px;
     background: violet;
     border-radius: 20px;
}
.sidebar {
     height: 600px;
     width: 600px;
     background: salmon;
     border-radius: 20px;
}
.main-content {
     height: 700px;
     width: 600px;
     background: blue;
     border-radius: 20px;
}
.extra-content {
     height: 300px;
     width: 600px;
     background: yellowgreen;
     border-radius: 20px;
}
.related-images {
     height: 200px;
     width: 900px;
     background: gold;
     border-radius: 20px;
}
.related-posts {
     height: 200px;
     width: 300px;
     background: mediumaquamarine;
     border-radius: 20px;
}
.footer {
     height: 100px;
     border-radius: 20px;
     background: green;
}